*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #202020;
    background-color: #F0EFEA;
}

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #202020;
}

nav {
    display: flex;
    position: relative;
    margin: 35px 50px;
    align-items: center;
}

nav li{
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;

}

.logo {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cormorant', serif;
    font-size: 35px;
    font-weight: 700;
}

.left-menu {
    position: absolute;
    left: 0px;
}

.right-menu {
    position: absolute;
    right: 0px;
}

#headline {
    width: 750px;
    height: 650px;
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0px;
}

#header-image {
    height: 500px;
    width: 400px;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
}

#header-image img {
    position: absolute;
    top: 0;
    height: 125%;
    width: auto;
    left: -20px;
}

#header-text {
    position: absolute;
    right: 0px;
    top: 250px;
}

.title{
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 85px;
    margin-top: 10px;
}

#sub-title {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 30px;
}

#tribute-info {
    width: 570px;
    margin: 200px auto;
    font-weight: 400;
}

.text-year--title {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Cormorant', serif;
    font-size: 44px;
}

.text-year--ul li{
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
}

.text-year--ul span {
    font-weight: 700;
}

#img-div {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#image {
    width: 100%;
    max-width: 100%;
}

#img-caption {
    width: 570px;
    font-size: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#testimonial-div {
    position: relative;
    display: flex;
    width: 750px;
    margin: 200px auto;
}

#testimonial-img-div {
    position: relative;
    height: 350px;
    width: 240px;
    overflow: hidden;
    left: 0;
}

#testimonial-img {
    position: relative;
    max-height: 120%;
    left: -135px;
    top: -20px;
}

#testimonial-text {  
    position: relative;  
    top: 50%;
    margin: -20% 0 0 -25%;
    font-family: 'Cormorant', serif;
    font-size: 18px;
    width: 450px;
    position: absolute;
    right: 0;
}

#testimonial-quote {
    font-size: 27px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 30px;
}

#testimonial-name span{
    font-weight: 700;
}

#wiki {
    font-size: 14px;
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

#wiki a{
    text-decoration: underline;
}

@media screen and (max-width: 850px){
    #headline{
        width: 650px;
    }

    .title{
        font-size: 60px;
        line-height: 60px;
        margin-top: 12px;
        background-color: #F0EFEA;
    }

    #sub-title{
        display: none;
    }

    #header-text{
        top: 350px;
    }

    header{
        height: 750px;
    }

    #header-image{
        height: 550px;
        width: 420px;
    }

    #header-image img{
        height: 135%;
        left: -50px;
    }

    .title{
        font-size: 70px;
        padding: 5px;
        margin-top: 15px;
    }

    nav li{
        font-size: 13px;
        letter-spacing: 1.5px;
    }

    .logo{
        font-size: 30px;
    }

    #img-div{
        width: 100%;
    }

    #testimonial-div{
        width: 650px;
    }

    #testimonial-img-div{
        height: 320px;
        width: 220px;
    }

    #testimonial-text{
        width: 390px;
    }

    #testimonial-quote{
        font-size: 24px;
    }

    #tribute-info{
        margin-top: 150px;
    }
}

@media screen and (max-width: 450px){
    .left-menu, .right-menu{
        display: none;
    }

    #header-image{
        display: none;
    }

    header{
        height: 600px;
        background-image: url("https://www.sciencehistory.org/sites/default/files/distillations_magazine/norman_borlaug.jpg");
        background-position: top;
        background-size: 120%;
    }

    nav{
        margin-left: 30px;
        margin-right: 30px;
    }

    .logo{
        position: absolute;
        left: 0;
        font-size: 22px;
    }

    #header-text{
        left: 40px;
        right: initial;
        top: 430px;
    }

    .title{
        font-size: 40px;
        padding: 5px;
        line-height: 1;
        margin-top: 10px;
    }

    #title-2{
        display: inline-block;
    }

    #tribute-info{
        width: 280px;
        margin-top: 80px;
    }

    .text-year--title{
        font-size: 33px;
        margin-bottom: 40px;
    }

    #image{
        width: 110%;
        max-width: initial;
        position: relative;
        left: -20px;
    }

    #img-caption{
        width: 280px;
        font-size: 12px;
        margin-top: 10px;
    }

    #testimonial-div{
        width: 330px;
        margin-top: 50px;
    }

    #testimonial-img{
        display: none;
    }

    #testimonial-text{
        font-size: 16px;
        width: 100%;
    }

    #testimonial-quote{
        font-size: 22px;
        line-height: 32px;
    }

    #wiki{
        width: 300px;
        font-size: 13px;
    }

}